<div class="row h-100">
  <div class="row h-100 chart-wrapper">
    <canvas
      baseChart
      [datasets]="barChartData1"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>
  <div class="row h-100 chart-wrapper">
    <canvas
      baseChart
      [datasets]="barChartData2"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>
  <div class="row h-100 chart-wrapper">
    <canvas
      baseChart
      [datasets]="barChartData3"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>
</div>
